.Container{
    height: 100vh;
    width: 100vw;  
    background-color: hsl(221, 100%, 96%);
    display: flex;
    flex-direction: column;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

@media (min-width:1400px){
    .Container{
        
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}