.LeftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 100vw;
    border-radius: 0 0 40px 40px ;
    background: rgba(121, 87, 255, 0.802);
    background: linear-gradient(180deg, rgb(121, 87, 255) 0%, rgb(46, 43, 233) 100%); 
}

@media (min-width:1400px){
    .LeftSide{
        height: 50vh;
        width: 20vw;
        border-radius: 40px ;
        z-index: 1;
        justify-content: center;
    }
}