
.RightSide h3{
    margin-left: 30px;
}
@media (min-width:1400px){
    .RightSide{
        background-color: white;
        width: 20vw;
        height: 50vh;
        margin-left: -25px;
        z-index: 0;
        border-radius: 0 40px 40px 0;
    }
    .RightSide h3{
        margin-left: 55px;
    }
}